 input[type="number"]{
	display:none;

	input[type="checkbox"]:checked ~ &{
	
			display:inline;
	}
} 

.radio{
	display: none;

	input[type="checkbox"]:checked ~ &{
	
			display:inline;


}
}





li{
	&.danger{
		color : red;
	}
	&.success{
		color : green;
	}
}


body{
	background-color: grey;
}

fieldset{
	border-color:  lime;
}